### import stuff

In [30]:
import pandas as pd
import sklearn
from sklearn.neural_network import MLPRegressor

## working dir coz i was lost
import os
cwd = os.getcwd()
print(cwd)

C:\Users\aelha\Documents\Masters\capstone\UNSW-Capstone-Group-E\Data_Exploration\Abdul

### open the data

In [31]:
nsw_temp_demand = pd.read_csv('../../report/Cleaned_Data.csv') 
nsw_temp_demand.head()

   TOTALDEMAND      Date  Time  TEMPERATURE
0      8038.00  1/1/2010  0:00         23.1
1      7809.31  1/1/2010  0:30         22.9
2      7483.69  1/1/2010  1:00         22.6
3      7117.23  1/1/2010  1:30         22.5
4      6812.03  1/1/2010  2:00         22.5

### convert time to datetime object

In [32]:
from datetime import datetime

nsw_temp_demand['Date_object'] = nsw_temp_demand['Date'].apply(pd.to_datetime, format='%d/%m/%Y')
nsw_temp_demand['Date_object']

0        2010-01-01
1        2010-01-01
2        2010-01-01
3        2010-01-01
4        2010-01-01
            ...
196507   2021-03-17
196508   2021-03-17
196509   2021-03-17
196510   2021-03-17
196511   2021-03-17
Name: Date_object, Length: 196512, dtype: datetime64[ns]

### make month col

In [35]:
nsw_temp_demand['month'] = nsw_temp_demand['Date_object'].apply(lambda x: x.month)

nsw_temp_demand['month']

0         1
1         1
2         1
3         1
4         1
         ..
196507    3
196508    3
196509    3
196510    3
196511    3
Name: month, Length: 196512, dtype: int64

### make day col

In [36]:
nsw_temp_demand['day'] = nsw_temp_demand['Date_object'].apply(lambda x: x.day)

nsw_temp_demand['day']

0          1
1          1
2          1
3          1
4          1
          ..
196507    17
196508    17
196509    17
196510    17
196511    17
Name: day, Length: 196512, dtype: int64

### convert the times into a number that represents it, we have 48 diff time values, easier for nns to deal with it this way I think, itll be 0-47 inclusive

In [43]:
# pull first 48 which are all the possible times
times = list(nsw_temp_demand['Time'][:48])
times

nsw_temp_demand['time_int'] = nsw_temp_demand['Time'].apply(lambda x: times.index(x))
nsw_temp_demand['time_int']

0          0
1          1
2          2
3          3
4          4
          ..
196507    43
196508    44
196509    45
196510    46
196511    47
Name: time_int, Length: 196512, dtype: int64

### now just make a input df and output df for our nns

In [61]:
X = nsw_temp_demand[['TEMPERATURE', 'day', 'month', 'time_int']]
Y = nsw_temp_demand['TOTALDEMAND']

print(X)

print(Y)

        TEMPERATURE  day  month  time_int
0              23.1    1      1         0
1              22.9    1      1         1
2              22.6    1      1         2
3              22.5    1      1         3
4              22.5    1      1         4
...             ...  ...    ...       ...
196507         19.7   17      3        43
196508         19.7   17      3        44
196509         19.5   17      3        45
196510         19.1   17      3        46
196511         18.8   17      3        47

[196512 rows x 4 columns]
0         8038.00
1         7809.31
2         7483.69
3         7117.23
4         6812.03
           ...
196507    7503.12
196508    7419.77
196509    7417.91
196510    7287.32
196511    7172.39
Name: TOTALDEMAND, Length: 196512, dtype: float64

10114.78

### tain test split

In [62]:
from sklearn.model_selection import train_test_split


X_train,X_test,Y_train,Y_test = train_test_split(X.index,Y,test_size=0.3)

X_train = X.iloc[X_train] 
X_test = X.iloc[X_test]

### build, train, evaluate model

one off

In [66]:
# simple mostly default, but relu because regressing
model = MLPRegressor(hidden_layer_sizes=(1000, 1000),max_iter=500, activation='relu')

# train
model.fit(X_train, Y_train)

# predict
predicted = model.predict(X_test)

from sklearn.metrics import mean_squared_error

mean_squared_error(Y_test, predicted, squared=False)

C:\Users\aelha\AppData\Roaming\Python\Python310\site-packages\sklearn\neural_network\_multilayer_perceptron.py:692: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (500) reached and the optimization hasn't converged yet.
  warnings.warn(

764.0496644716637

cross val

In [ ]:
from sklearn.model_selection import cross_val_score
# simple mostly default, but tanh
model = MLPRegressor(max_iter=500, activation='relu')

cross_val_score(model, X_train, Y_train, cv=5, scoring='neg_mean_squared_error')